body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2264px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:36px;
  top:50px;
  width:394px;
  height:855px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u2 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:48px;
  top:207px;
  width:375px;
  height:605px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:605px;
}
#u4 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:48px;
  top:143px;
  width:375px;
  height:64px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:184px;
  top:165px;
  width:104px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:26px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:56px;
  top:161px;
  width:29px;
  height:29px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:383px;
  top:159px;
  width:32px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:407px;
  top:215px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:389px;
  top:258px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:48px;
  top:207px;
  width:375px;
  height:83px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:48px;
  top:207px;
  width:375px;
  height:556px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:556px;
}
#u20 {
  position:absolute;
  left:2px;
  top:270px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:48px;
  top:739px;
  width:375px;
  height:73px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
}
#u22 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:48px;
  top:442px;
  width:375px;
  height:100px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u24 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:63px;
  top:450px;
  width:127px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:56px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:63px;
  top:535px;
  width:73px;
  height:28px;
  font-size:18px;
  line-height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:63px;
  top:512px;
  width:342px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:325px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:342px;
  height:1px;
}
#u30 {
  position:absolute;
  left:56px;
  top:577px;
  width:104px;
  height:85px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:85px;
}
#u31 {
  position:absolute;
  left:2px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:183px;
  top:577px;
  width:104px;
  height:85px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:85px;
}
#u33 {
  position:absolute;
  left:2px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:310px;
  top:577px;
  width:104px;
  height:85px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:85px;
}
#u35 {
  position:absolute;
  left:2px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:760px;
  top:300px;
  width:46px;
  height:37px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:37px;
}
#u37 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:775px;
  top:306px;
  width:26px;
  height:26px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u39 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:496px;
  top:50px;
  width:394px;
  height:855px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u42 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:508px;
  top:146px;
  width:375px;
  height:666px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u44 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:508px;
  top:142px;
  width:375px;
  height:64px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u46 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:655px;
  top:164px;
  width:81px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:516px;
  top:599px;
  width:359px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:41px;
}
#u50 {
  position:absolute;
  left:2px;
  top:11px;
  width:355px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:516px;
  top:160px;
  width:29px;
  height:29px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:508px;
  top:364px;
  width:375px;
  height:51px;
  color:#E4E4E4;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u54 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:516px;
  top:374px;
  width:32px;
  height:32px;
}
#u55_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:38px;
  height:38px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:568px;
  top:380px;
  width:65px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:508px;
  top:416px;
  width:375px;
  height:51px;
  color:#E4E4E4;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u60 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:516px;
  top:426px;
  width:32px;
  height:32px;
}
#u61_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:38px;
  height:38px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:568px;
  top:432px;
  width:81px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:843px;
  top:374px;
  width:32px;
  height:32px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:843px;
  top:426px;
  width:32px;
  height:32px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:508px;
  top:468px;
  width:375px;
  height:51px;
  color:#E4E4E4;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:516px;
  top:478px;
  width:32px;
  height:32px;
}
#u71_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:38px;
  height:38px;
}
#u72 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:568px;
  top:484px;
  width:129px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:20px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:843px;
  top:478px;
  width:32px;
  height:32px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u76 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:508px;
  top:308px;
  width:375px;
  height:49px;
  color:#E4E4E4;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:516px;
  top:315px;
  width:266px;
  height:37px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:37px;
}
#u80 {
  position:absolute;
  left:0px;
  top:8px;
  width:266px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:769px;
  top:316px;
  width:104px;
  height:32px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:508px;
  top:214px;
  width:375px;
  height:86px;
}
#u83_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:377px;
  height:88px;
}
#u84 {
  position:absolute;
  left:2px;
  top:35px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:596px;
  top:228px;
  width:134px;
  height:25px;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:25px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:516px;
  top:228px;
  width:53px;
  height:53px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:53px;
}
#u88 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:596px;
  top:256px;
  width:160px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:normal;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:956px;
  top:50px;
  width:394px;
  height:855px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u93 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:968px;
  top:142px;
  width:375px;
  height:670px;
  color:#F2F2F2;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u95 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:968px;
  top:142px;
  width:375px;
  height:60px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u97 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1115px;
  top:162px;
  width:81px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:968px;
  top:202px;
  width:375px;
  height:158px;
  font-size:11px;
  color:#000000;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:158px;
}
#u101 {
  position:absolute;
  left:2px;
  top:71px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:984px;
  top:158px;
  width:28px;
  height:28px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u103 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:1300px;
  top:162px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1115px;
  top:269px;
  width:81px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#33475F;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1036px;
  top:300px;
  width:240px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#1E1E1E;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
}
#u109 {
  position:absolute;
  left:0px;
  top:10px;
  width:240px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1132px;
  top:211px;
  width:48px;
  height:48px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u111 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:974px;
  top:380px;
  width:359px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:41px;
}
#u113 {
  position:absolute;
  left:2px;
  top:11px;
  width:355px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:1416px;
  top:50px;
  width:394px;
  height:855px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u116 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1428px;
  top:142px;
  width:375px;
  height:60px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1565px;
  top:162px;
  width:101px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:1444px;
  top:158px;
  width:28px;
  height:28px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1428px;
  top:218px;
  width:375px;
  height:495px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:495px;
}
#u124 {
  position:absolute;
  left:2px;
  top:240px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1713px;
  top:585px;
  width:85px;
  height:32px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1714px;
  top:591px;
  width:85px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1428px;
  top:196px;
  width:375px;
  height:205px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:205px;
}
#u130 {
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1428px;
  top:713px;
  width:375px;
  height:100px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:100px;
}
#u132 {
  position:absolute;
  left:2px;
  top:42px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:1442px;
  top:743px;
  width:346px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:342px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:1870px;
  top:50px;
  width:394px;
  height:855px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u137 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1882px;
  top:142px;
  width:375px;
  height:60px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u139 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:2029px;
  top:162px;
  width:81px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:1898px;
  top:158px;
  width:28px;
  height:28px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u143 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:1882px;
  top:202px;
  width:375px;
  height:610px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:610px;
}
#u145 {
  position:absolute;
  left:2px;
  top:297px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
