body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:46px;
  top:100px;
  width:394px;
  height:855px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u2 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:58px;
  top:257px;
  width:375px;
  height:918px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:918px;
}
#u4 {
  position:absolute;
  left:2px;
  top:451px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:58px;
  top:193px;
  width:375px;
  height:64px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u6 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:194px;
  top:215px;
  width:104px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:26px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:66px;
  top:211px;
  width:29px;
  height:29px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:394px;
  top:209px;
  width:32px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:418px;
  top:265px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u14 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:400px;
  top:308px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:58px;
  top:257px;
  width:375px;
  height:83px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:66px;
  top:267px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:366px;
  top:299px;
  width:60px;
  height:28px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:374px;
  top:303px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:136px;
  top:276px;
  width:49px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:136px;
  top:304px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:64px;
  top:587px;
  width:362px;
  height:84px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF4A52;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:84px;
}
#u30 {
  position:absolute;
  left:2px;
  top:34px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:58px;
  top:340px;
  width:375px;
  height:76px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:76px;
}
#u32 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:58px;
  top:1125px;
  width:375px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:222px;
  top:1141px;
  width:33px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:268px;
  top:1141px;
  width:20px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:58px;
  top:416px;
  width:375px;
  height:116px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:116px;
}
#u40 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:119px;
  top:416px;
  width:253px;
  height:116px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:116px;
}
#u42 {
  position:absolute;
  left:2px;
  top:50px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:58px;
  top:532px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:-3px;
  top:-1px;
  width:381px;
  height:51px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:75px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
  color:#FF4A52;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:150px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:225px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:301px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:376px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:79px;
  top:600px;
  width:200px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF4A52;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:64px;
  top:681px;
  width:176px;
  height:143px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u58 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:64px;
  top:824px;
  width:176px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:58px;
}
#u60 {
  position:absolute;
  left:2px;
  top:21px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:70px;
  top:830px;
  width:116px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:146px;
  top:856px;
  width:25px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:144px;
  top:859px;
  width:31px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:31px;
  height:1px;
}
#u66 {
  position:absolute;
  left:70px;
  top:856px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:250px;
  top:681px;
  width:176px;
  height:143px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u69 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:250px;
  top:824px;
  width:176px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:58px;
}
#u71 {
  position:absolute;
  left:2px;
  top:21px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:262px;
  top:830px;
  width:116px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:338px;
  top:856px;
  width:25px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:336px;
  top:859px;
  width:31px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:31px;
  height:1px;
}
#u77 {
  position:absolute;
  left:262px;
  top:856px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:250px;
  top:681px;
  width:176px;
  height:143px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u80 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:64px;
  top:899px;
  width:176px;
  height:143px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u82 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:64px;
  top:1042px;
  width:176px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:58px;
}
#u84 {
  position:absolute;
  left:2px;
  top:21px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:76px;
  top:1048px;
  width:116px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:152px;
  top:1074px;
  width:25px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:150px;
  top:1077px;
  width:31px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:31px;
  height:1px;
}
#u90 {
  position:absolute;
  left:76px;
  top:1074px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:64px;
  top:899px;
  width:176px;
  height:143px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u93 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:64px;
  top:899px;
  width:176px;
  height:143px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u95 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:250px;
  top:1042px;
  width:176px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:58px;
}
#u97 {
  position:absolute;
  left:2px;
  top:21px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:262px;
  top:1048px;
  width:116px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:338px;
  top:1074px;
  width:25px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:336px;
  top:1077px;
  width:31px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:31px;
  height:1px;
}
#u103 {
  position:absolute;
  left:262px;
  top:1074px;
  width:57px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:250px;
  top:899px;
  width:176px;
  height:143px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u106 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:250px;
  top:899px;
  width:176px;
  height:143px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:143px;
}
#u108 {
  position:absolute;
  left:2px;
  top:64px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:202px;
  top:49px;
  width:81px;
  height:20px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:140px;
  top:69px;
  width:207px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:20px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:506px;
  top:100px;
  width:394px;
  height:855px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u115 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:518px;
  top:257px;
  width:375px;
  height:727px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:727px;
}
#u117 {
  position:absolute;
  left:2px;
  top:356px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:518px;
  top:193px;
  width:375px;
  height:64px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u119 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:654px;
  top:215px;
  width:104px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:26px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:526px;
  top:211px;
  width:29px;
  height:29px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u123 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:854px;
  top:209px;
  width:32px;
  height:32px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:878px;
  top:265px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u127 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:860px;
  top:308px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u129 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:518px;
  top:257px;
  width:375px;
  height:83px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u131 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:526px;
  top:267px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u132_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u133 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:826px;
  top:299px;
  width:60px;
  height:28px;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u135 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:834px;
  top:303px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:596px;
  top:276px;
  width:49px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:596px;
  top:304px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:518px;
  top:340px;
  width:375px;
  height:76px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:76px;
}
#u143 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:518px;
  top:934px;
  width:375px;
  height:50px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u145 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:682px;
  top:950px;
  width:33px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:728px;
  top:950px;
  width:20px;
  height:20px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:518px;
  top:416px;
  width:375px;
  height:116px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:116px;
}
#u151 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:579px;
  top:416px;
  width:253px;
  height:116px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:116px;
}
#u153 {
  position:absolute;
  left:2px;
  top:50px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:662px;
  top:49px;
  width:81px;
  height:20px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:570px;
  top:69px;
  width:267px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:20px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:518px;
  top:622px;
  width:375px;
  height:104px;
}
#u158_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:385px;
  height:114px;
}
#u159 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:526px;
  top:630px;
  width:87px;
  height:88px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:88px;
}
#u161 {
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:644px;
  top:630px;
  width:157px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:758px;
  top:694px;
  width:33px;
  height:20px;
  font-size:15px;
  color:#666666;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:756px;
  top:698px;
  width:38px;
  height:10px;
}
#u166_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u166_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u166_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u167 {
  position:absolute;
  left:644px;
  top:692px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:518px;
  top:725px;
  width:375px;
  height:104px;
}
#u169_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:385px;
  height:114px;
}
#u170 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:526px;
  top:733px;
  width:87px;
  height:88px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:88px;
}
#u172 {
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:644px;
  top:733px;
  width:157px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:758px;
  top:797px;
  width:33px;
  height:20px;
  font-size:15px;
  color:#666666;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:756px;
  top:801px;
  width:38px;
  height:10px;
}
#u177_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u177_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u178 {
  position:absolute;
  left:644px;
  top:795px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u180 {
  position:absolute;
  left:518px;
  top:828px;
  width:375px;
  height:104px;
}
#u180_img {
  position:absolute;
  left:-5px;
  top:-4px;
  width:385px;
  height:114px;
}
#u181 {
  position:absolute;
  left:2px;
  top:44px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:526px;
  top:836px;
  width:87px;
  height:88px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:88px;
}
#u183 {
  position:absolute;
  left:2px;
  top:36px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:644px;
  top:836px;
  width:157px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:758px;
  top:900px;
  width:33px;
  height:20px;
  font-size:15px;
  color:#666666;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:756px;
  top:904px;
  width:38px;
  height:10px;
}
#u188_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_end {
  position:absolute;
  left:21px;
  top:-5px;
  width:18px;
  height:20px;
}
#u188_line {
  position:absolute;
  left:0px;
  top:5px;
  width:38px;
  height:1px;
}
#u189 {
  position:absolute;
  left:644px;
  top:898px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF4A52;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u191 {
  position:absolute;
  left:666px;
  top:650px;
  width:82px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u191_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:88px;
  height:32px;
}
#u192 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:762px;
  top:650px;
  width:121px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u193_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:127px;
  height:32px;
}
#u194 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:644px;
  top:653px;
  width:20px;
  height:20px;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u196 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:744px;
  top:655px;
  width:16px;
  height:16px;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u198 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:666px;
  top:753px;
  width:82px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u199_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:88px;
  height:32px;
}
#u200 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:762px;
  top:753px;
  width:121px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u201_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:127px;
  height:32px;
}
#u202 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:644px;
  top:756px;
  width:20px;
  height:20px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:744px;
  top:758px;
  width:16px;
  height:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u206 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:666px;
  top:856px;
  width:82px;
  height:26px;
  font-size:12px;
  text-align:left;
}
#u207_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:88px;
  height:32px;
}
#u208 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:762px;
  top:856px;
  width:121px;
  height:26px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u209_img {
  position:absolute;
  left:-3px;
  top:-2px;
  width:127px;
  height:32px;
}
#u210 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:644px;
  top:860px;
  width:20px;
  height:20px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:744px;
  top:862px;
  width:16px;
  height:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u214 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:518px;
  top:577px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u216 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:610px;
  top:591px;
  width:61px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:700px;
  top:589px;
  width:10px;
  height:20px;
}
#u219_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u219_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u219_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u220 {
  position:absolute;
  left:820px;
  top:589px;
  width:31px;
  height:20px;
  font-size:15px;
  color:#999999;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:749px;
  top:589px;
  width:31px;
  height:20px;
  font-size:15px;
  color:#999999;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:850px;
  top:583px;
  width:32px;
  height:32px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u225 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:535px;
  top:590px;
  width:31px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#666666;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u228 {
  position:absolute;
  left:518px;
  top:532px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u228_img {
  position:absolute;
  left:-3px;
  top:-1px;
  width:381px;
  height:51px;
}
#u229 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230 {
  position:absolute;
  left:535px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
  color:#666666;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u232 {
  position:absolute;
  left:610px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:690px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
  color:#FF4A52;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u236 {
  position:absolute;
  left:760px;
  top:544px;
  width:33px;
  height:20px;
  font-size:16px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u239 {
  position:absolute;
  left:970px;
  top:100px;
  width:394px;
  height:855px;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:855px;
}
#u240 {
  position:absolute;
  left:2px;
  top:420px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:982px;
  top:257px;
  width:375px;
  height:606px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:606px;
}
#u242 {
  position:absolute;
  left:2px;
  top:295px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:982px;
  top:193px;
  width:375px;
  height:64px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u244 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1118px;
  top:215px;
  width:104px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u245_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:110px;
  height:26px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:990px;
  top:211px;
  width:29px;
  height:29px;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u248 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:1318px;
  top:209px;
  width:32px;
  height:32px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u250 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:1342px;
  top:265px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u252 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:1324px;
  top:308px;
  width:16px;
  height:16px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u254 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:982px;
  top:257px;
  width:375px;
  height:83px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:83px;
}
#u256 {
  position:absolute;
  left:2px;
  top:34px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:990px;
  top:267px;
  width:60px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u257_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:70px;
  height:70px;
}
#u258 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:1290px;
  top:299px;
  width:60px;
  height:28px;
  color:#FFFFFF;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
}
#u260 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:1298px;
  top:303px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:1060px;
  top:276px;
  width:49px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u265 {
  position:absolute;
  left:1060px;
  top:304px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:982px;
  top:416px;
  width:375px;
  height:116px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:116px;
}
#u268 {
  position:absolute;
  left:2px;
  top:50px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:1043px;
  top:416px;
  width:253px;
  height:116px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:116px;
}
#u270 {
  position:absolute;
  left:2px;
  top:50px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:1109px;
  top:49px;
  width:116px;
  height:20px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF9900;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:20px;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u273 {
  position:absolute;
  left:1012px;
  top:69px;
  width:309px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:20px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u275 {
  position:absolute;
  left:990px;
  top:550px;
  width:360px;
  height:116px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:116px;
}
#u276 {
  position:absolute;
  left:2px;
  top:48px;
  width:356px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:982px;
  top:340px;
  width:375px;
  height:76px;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:76px;
}
#u278 {
  position:absolute;
  left:2px;
  top:30px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
